*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url('https://www.nicepng.com/ourpic/u2q8q8r5y3i1q8e6_image-page-transparent-background-oasis-skin-1-png/') no-repeat;
    background-size: cover;
}
